body {
    background: transparent;
    display: block;
    font-family: sans-serif;
    text-align: center;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.svg_container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

.shadow {
    position: absolute;
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    inset: -4px;
    background: white;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 2%) 0.6px 1.3px 2.2px, 
                rgb(0 0 0 / 3%) 1.5px 3.1px 5.3px, 
                rgb(0 0 0 / 4%) 2.9px 5.8px 10px, 
                rgb(0 0 0 / 4%) 5.1px 10.3px 17.9px;
}

.svg{
    position: relative;
    display: block;
    width: 100%;
    clip-path: circle(50% at 50% 50%);
}

.name_container {
    position: relative;
    height: 3rem;
    width: 100%;
    max-width: 275px;
    margin: 0px auto;
    transform: translateY(+12px);
    pointer-events: none;
}

.name_container2 {
    background-color: white;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 16px;
    padding: 4px;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 2%) 0.6px 0.7px 2.2px, 
                rgb(0 0 0 / 3%) 1.5px 2px 5.3px, 
                rgb(0 0 0 / 4%) 2.9px 3.5px 10px, 
                rgb(0 0 0 / 4%) 5.1px 6px 17.9px, 
                rgb(0 0 0 / 5%) 9.6px 12px 33.4px, 
                rgb(0 0 0 / 7%) 23px 30px 80px;
}

.color {
    width: 3rem;
    height: 3rem;
    border-radius: 4px;
    transition: background-color 350ms ease 0s;
}

.name {
    flex: 1 1 0%;
    font-size: 1.25rem;
    font-weight: 500;
}
